/* src/Styles/ProductCard.css */
.product-card {
  padding-top: 60px;

    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-card .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .product-card .card-text {
    font-size: 1rem;
  }
  
  .product-card .btn {
    margin-top: 10px;
  }
  